body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
  }
  
  header {
    background-color: darkblue;
    color: #fff;
    padding: 10px;
  }
  
  nav {
    background-color: #ddd;
    padding: 20px 10px;
  }
  
  .project-card {
    max-width: 400px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  p {
    text-align: justify;
  }